.shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
  padding: 3%;
}
.shipping-form {
  display: block;
  padding: 10px;
}
.shipping input {
  margin-top: 30px;
  padding: 2%;
  border: 1px solid gray;
  border-radius: 5px;
}
.error {
  color: red;
}
